li {
    display: inline;
    size: justify;
    padding: 30px;
    text-decoration-color: white;
    margin-right: 10px;

     
}
ul{
    float: right;
    overflow: hidden;
   
}   
.health{
    float: left;
}
.health li{
    padding: 10px;
    margin-left: 5px;
    font-size: 20px;
}
a{
    padding: 2px 2px;
    text-decoration: none;
    color: #272626;
}
header{
    background-color: #f1f1f1;
 

}

td{
    padding: 40px;
}
.footer-image{
    background-image: url(/html/images/author-image.jpg);
    height: 80px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    padding: 20px;
    margin-left: 0%;
    margin-bottom: 0%;
    
}
 